@import 'bootstrap/dist/css/bootstrap.css';

.footer{

position: relative;
width: 100%;
text-align: center;
    background: #5e5f61;
margin-top:180px;
  /* background-color: rgb(230, 230, 229); */

    
    /* height: 4.4rem; */

    padding-bottom:2rem ;

 .footer h1{
  font-size: 1.8rem;
  font-weight: 800;
}


 .pregunta{ 
    border-top: 5px solid black;
    background-color: red;
    width: 100%;
text-decoration: underline;
    font-size: 2.5rem;
    letter-spacing: 4px;
    box-shadow: 00 0 0.1;
    color:white;
text-align: center;
font-weight:800;
position:relative;
top:0rem;
} 


@media(max-width: 3000px){

  .footer{
    width: 100%; 
   }
}

@media(max-width: 2500px){


  .footer{
    width: 100%; 
   }
}

@media(max-width: 2200px){


  .footer{
    width: 100%; 
   }
   h1{
    font-size: 1.8rem;
    font-weight: 800;
  }

}

@media(max-width: 1900px){
  
  .footer{
    width: 110%; 
   }
   .pregunta{
    font-size: 1.5rem;

  }
   h1{
    font-size: 1.5rem;
    font-weight: 800;
  }
}

@media(max-width: 1700px){
  .footer{
    width: 100%; 
   }
   h1{
    font-size: 1.5rem;
    font-weight: 800;
  }
}



@media(max-width: 1500px){
  .footer{
    width: 100%; 
   }
   h1{
    font-size: 1.8rem;
    font-weight: 800;
  }
   
}


@media(max-width: 1200px){
  .footer{
    width: 100%; 
   }


 h1{


  font-size: 1.5rem;
  font-weight: 800;
}
}

@media(max-width: 800px){
.footer-container{
 width: 100%; 
}

}
}